<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-6">
        <%= image_tag(@track.art_work.show.url) %>
      </div>
      <div class="col-md-6">
        <div class="table-responsive">
          <table class="table">
            <tbody>
              <tr>
                <td><%= @track.title %></td>
              </tr>
              <tr>
                <td><%= audio_tag @track.music, controls: true, class: 'song-player' %></td>
              </tr>
              <tr>
                <td><%= @track.genre %></td>
              </tr>
              <tr>
                <td><%= @track.description %></td>
              </tr>
              <tr>
                <td><%= @track.user.email %>
                Submitted <%= time_ago_in_words (@track.created_at) %> Ago 
                  <% if @track.user == current_user %>
                    <%= link_to 'Edit', edit_track_path(@track) %> |
                    <%= link_to 'Delete', @track, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                  <% end %>
                </tr>
              <tr>
            </tbody>
          </table>
          <div class="comments">
            <p><%= @track.comments.count %> Comments</p>
            <%= render @track.comments %>
            <% if user_signed_in? %>
              <p> Add a comment: </p>
              <%= render "comments/form" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

