<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-6">
        <%= image_tag(@user.avatar.show.url) %>
        <%= @user.name %>
      </div>
      <div class="col-md-6">
        <% @user.tracks.each do |track| %>
          <div class="panel">
            <div class="panel-body">
              <div class="row">
                <div class="col-md-3">
                  <%= image_tag track.art_work.url, class:'user-player-pic' %>
                </div>
                <div class="col-md-9"> 
                  <h2><%= track.title %></h2>
                  <%= audio_tag track.music, controls: true, class: 'index-song-player song-player'%>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>









<% if can? :modify, @user %>
  link_to edit
  link_to delete
  
<% end %>